In [3]:
# Importing the pandas for data processing and numpy for numerical computing
import numpy as np
import pandas as pd

# File path for the CSV
boston = "./housing.csv"

# Converting the data into pandas dataframe
data = pd.read_csv(boston)

# First look
data.head()

   0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...

In [5]:
#Shape of the data
print(data.shape)
#Checking the null values in the dataset
data.isnull().sum()

(505, 1)

 0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00    0
dtype: int64

In [6]:
#Checking the statistics of the data
data.describe()

        0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
count                                                 505
unique                                                505
top      0.02731   0.00   7.070  0  0.4690  6.4210  78...
freq                                                    1